{% extends "base.html" %}
{% load static %}

{% block 'dashboard' %}
<div class="container">
    <div>
        <h1>Listas</h1>
    </div>
    <div class="row">
        <div class="col-md">
            <a href="#cliente">
                <p class="btn btn-danger form-control"> Clientes </p>
            </a>
        </div>
        <div class="col-md">
            <a href="#serviços">
                <p class="btn btn-danger form-control"> Serviços </p>
            </a>
        </div>
        <div class="col-md">
            <a href="#peca">
                <p class="btn btn-danger form-control"> Peças </p>
            </a>
        </div>
        <div class="col-md">
            <a href="#fun">
                <p class="btn btn-danger form-control"> Funcionarios </p>
            </a>
        </div>
    </div>
    <div >
        <h2 id="cliente">Clientes</h2>
        <table class="table" style="color: aliceblue;">
            <thead>
                <tr>
                    <th scope="col"> ID </th>
                    <th scope="col"> Nome </th>
                    <th scope="col"> Sobrenome </th>
                    <th scope="col"> Email </th>
                    <th scope="col"> Cpf </th>
            </thead>
            <tbody>
                {% for cliente in clientes %}
                <tr id="{{cliente.id}}">
                    <td name="id" scope="row">{{ cliente.id }}</td>
                    <td name="nome" >{{ cliente.nome }}</td>
                    <td name="sobrenome">{{ cliente.sobrenome }}</td>
                    <td name="email">{{ cliente.email }}</td>
                    <td name="cpf">{{ cliente.cpf }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <br>
    </div>
    <div>
        <h2 id="servico">Serviços</h2>
        <table class="table" style="color: aliceblue;">
            <thead>
                <tr>
                    <th scope="col"> ID </th>
                    <th scope="col"> Nome </th>
                    <th scope="col"> Preco </th>
                    <th scope="col"> Descrição </th>
            </thead>
            <tbody>
                {% for serviço in serviços %}
                <tr id="{{serviço.id}}">
                    <td name="id" scope="row">{{ serviço.id }}</td>
                    <td name="nome" >{{ serviço.nome }}</td>
                    <td name="preco">R${{ serviço.preco }}</td>
                    <td name="descrição">{{ serviço.descrição }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <br>
    </div>
    <div>
        <h2 id="peca">Peças</h2>
        <table class="table" style="color: aliceblue;">
            <thead>
                <tr>
                    <th scope="col"> ID </th>
                    <th scope="col"> Nome </th>
                    <th scope="col"> Preco </th>
                    <th scope="col"> Estoque </th>
            </thead>
            <tbody>
                {% for peca in pecas %}
                <tr id="{{peca.id}}">
                    <td name="id" scope="row">{{ peca.id }}</td>
                    <td name="nome" >{{ peca.nome }}</td>
                    <td name="preco">R${{ peca.preco }}</td>
                    <td name="quantidade">{{ peca.quantidade }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <br>
    </div>
    <div>
        <h2 id="fun">Funcionarios</h2>
        <table class="table" style="color: aliceblue;">
            <thead>
                <tr>
                    <th scope="col"> ID </th>
                    <th scope="col"> Nome </th>
                    <th scope="col"> Sobrenome </th>
                    <th scope="col"> Email </th>
                    <th scope="col"> Cpf </th>
                    <th scope="col"> Equipe </th>
            </thead>
            <tbody>
                {% for funcionario in funcionarios %}
                <tr id="{{funcionario.id}}">
                    <td name="id" scope="row">{{ funcionario.id }}</td>
                    <td name="nome" >{{ funcionario.nome }}</td>
                    <td name="sobrenome">{{ funcionario.sobrenome }}</td>
                    <td name="email">{{ funcionario.email }}</td>
                    <td name="cpf">{{ funcionario.cpf }}</td>
                    <td name="equipe">{{ funcionario.equipe }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <br>
    </div>
</div>
{% endblock%}