{% extends "base.html" %}
{% load static %}

{% block 'head' %}
{% endblock %}

{% block 'dashboard' %}
<div class="container">
    <div class="p-5" style="width: 90vw; height: 90vh;">
        <div>
            <h1 class="text-center fw-bold">Bem vindo a nossa <strong style="color: var(--main-color);">MECÂNICA</strong>!</h1>
        </div>
        <div>
            <div>
                <img style="width: 70vw; margin-left: 5vw; filter: saturate(50%);" src="https://pngimg.com/uploads/ferrari/ferrari_PNG10632.png" alt="">
            </div>
    </div>
</div>
{% endblock%}